<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}" />
    </head>
    <body>

                   <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">Online Quiz </div>
    </nav>

        <div class="container">
            <h2>Register</h2>
            <div th:if="${error}" class="error">
                <span th:text="${error}"></span>
            </div>
            <form th:action="@{/register}" th:object="${user}" method="post" class="form-group">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <input type="text" th:field="*{username}" placeholder="Username" required>
                <input type="email" th:field="*{email}" placeholder="Email" required>
                <input type="password" th:field="*{password}" placeholder="Password"  required minlength="4">
                 
                <button type="submit">Register</button>
            </form>
            <br>
            <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
        </div>

    </body>
</html>