<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<script th:inline="javascript">
    let timeLeft = /*[[${remainingTime}]]*/ 300;
    function startOtpTimer(){
        let timer = setInterval(function(){
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            document.getElementById("otpTimer").innerText = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
            if(timeLeft <= 0){
                clearInterval(timer);
                alert("OTP Expired");
                window.location.href = "/forgotPassword";
                return;
            }
            timeLeft--;
        },1000);
    }
    startOtpTimer();
</script>
<body>

<nav class="navbar">
    <div class="logo">Online Quiz</div>
</nav>

<div class="container">

    <h2>Reset Password</h2>
    <div th:if="${error}" class="error">
        <span th:text="${error}"></span>
    </div>
    <div class="otp-timer">
        OTP expires in: 
        <span id="otpTimer"></span>
    </div>
    <form th:action="@{/resetPassword}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <input type="password" name="newPassword" placeholder="New Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">
            Reset Password
        </button>
    </form>
</div>
</body>
</html>